.latest-news-main-container {
  background-color: var(--clr-very-dark-blue);
  padding: 0 1.5rem;
  flex: 1;
}

.title {
  color: var(--clr-soft-orange);
}

.items {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  /* margin-left: 1.5rem; */
}

.news-item {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.item-title {
  color: var(--clr-off-white);
  margin-bottom: 0.1rem;
  transition: 0.5s ease;
  cursor: pointer;
}

.item-title:hover {
  color: var(--clr-soft-orange);
  transition: 0.5s ease;
}

.item-details {
  color: var(--clr-dark-grayish-blue);
  font-size: smaller;
}

.item-hr {
  width: 100%;
  border: none;
  border-top: 2px double var(--clr-dark-grayish-blue);
}
