.navbar {
  display: flex;
  flex-direction: row;
}

.logo {
  flex: 1;
}

.links-ul {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.nav-link {
  list-style: none;
  cursor: pointer;
  color: var(--clr-dark-grayish-blue);
}
