.navbar {
  display: flex;
  flex-direction: row;
}

.logo {
  flex: 1;
}

.links-ul {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.nav-link {
  list-style: none;
  cursor: pointer;
  color: var(--clr-dark-grayish-blue);
  transition: 0.5s ease;
}

.nav-link:hover {
  color: var(--clr-soft-red);
  transition: 0.5s ease;
}

.hamburger {
  border: none;
  background: white;
  font-size: 1.5rem;
  display: none;
}

.cross {
  display: none;
}

@media screen and (max-width: 375px) {
  .hamburger {
    display: block;
    margin-right: 1rem;
    padding-bottom: 0.5rem;
  }

  .nav-collapse-items {
    display: none;
  }

  .collapsed-items {
    display: flex;
    flex-direction: column;
    position: absolute;
    background: white;
    right: 0;
    width: 60%;
    height: 105%;
    font-size: 0.8rem;
    top: 0;
  }

  .cross {
    display: block;
    background: transparent;
    border: none;
    text-align: end;
    font-size: 1.3rem;
    margin: 1rem 1rem 0 0;
    padding-top: 1rem;
  }

  .nav-link:hover {
    color: var(--clr-soft-red);
    transition: 0.5s ease;
  }

  .links-ul {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 2rem 2rem 0 0;
  }
}
