.app {
  margin: 0 10rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.middle-container {
  display: flex;
  flex-direction: row;
  /* gap: 2rem; */
}

.bottom-container {
  display: flex;
  flex-direction: row;
}
