.app {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  width: 100%;
  height: 100%;
}

.main-app {
  margin: 1rem 10rem;
}

.middle-container {
  display: flex;
  flex-direction: row;
  /* gap: 2rem; */
  /* margin-top: 2rem; */
  gap: 2rem;
}

.bottom-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media screen and (max-width: 375px) {
  .main-app {
    margin: 2rem;
  }

  .middle-container {
    flex-direction: column;
  }

  .bottom-container {
    flex-direction: column;
  }
}
