.app {
  margin: 0 10rem;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.middle-container {
  display: flex;
  flex-direction: row;
  /* gap: 2rem; */
  /* margin-top: 2rem; */
  gap: 2rem;
}

.bottom-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
